<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width minimum-scale=1.0, maximum-scale=1.0">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>kristin-albert.de</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="header">
      <%= image_tag 'logo.png', :class => 'logo'%>
      <div id="triangleBackground"></div>
      <div id="secretMessage" class="loading">
        <div class="text"></div>
      </div>
    </div>
<!--     <div class="navbar">
      <a data-scroll href="#nav-whatothersay">What other say</a>
      <a data-scroll href="#nav-whatmatters">What matters</a>
      <a data-scroll href="#nav-resume">Resume</a>
      <a data-scroll href="#nav-tools">Tools</a>
      <a data-scroll href="#nav-resources">Resources</a>
      <a data-scroll href="#nav-sideprojects">Side projects</a>
      <a data-scroll data-options='{"speed": 900}' href="#nav-contact">Contact</a>
    </div> -->

    <%= yield %>

    <script>
      smoothScroll.init({
        speed: 900, // Integer. How fast to complete the scroll in milliseconds
        easing: 'easeInOutQuart', // Easing pattern to use
      });
    </script>
  </body>
</html>
