<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width minimum-scale=1.0, maximum-scale=1.0">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>kristin-albert.de</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="header">
      <%= image_tag 'logo.png', :class => 'logo'%>
      <div id="triangleBackground"></div>
      <div id="secretMessage" class="loading">
        <div class="text">
          <%= get_quote %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
