---
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"news">;
}

const { entry }: Props = Astro.props;
const { Content } = await entry.render();
const tagColor = `var(--${entry.data.tags[0]})`;
const date = entry.data.date;
const location = entry.data.location;
const title = entry.data.title;
const target = entry.data.target;
---

<div
  class="rounded-xl bg-white shadow-md shadow-indigo-500/50 hover:scale-105 transition ease-in-out duration-300"
>
  <div class="flex flex-column">
    <div class="flex-none w-14 rounded-l-xl bg-[color:var(--tagColor)]"></div>
    <div class="py-6 pl-4 pr-5">
      {
        date ? (
          <h6
            id={date.getTime().toString()}
            class="p-1 px-2 mb-2 text-[10px] uppercase tracking-wider font-black rounded-md bg-[var(--light-green)] inline-block"
          >
            Kommt noch
          </h6>
        ) : null
      }
      <h2 class="text-2xl leading-8 font-bold mb-3 text-[color:#b2a4ff]">
        {title}
      </h2>

      <article class="text-sm leading-6">
        <Content />
      </article>

      {
        target || location || date ? (
          <div class="mt-6">
            {target ? (
              <div class="flex items-center text-gray-600 mb-2">
                <img
                  src="/images/Technology-Robot-Ai-Signal-1--Streamline-Pixel.svg"
                  class="w-5 h-5"
                />
                <div class="text-sm pl-1">{target}</div>
              </div>
            ) : null}
            {location ? (
              <div class="flex items-center text-gray-600 mb-2">
                <img
                  src="/images/Interface-Essential-Map--Streamline-Pixel.svg"
                  class="w-5 h-5"
                />
                <div class="text-sm pl-1">{location}</div>
              </div>
            ) : null}
            {date ? (
              <div class="flex items-center text-gray-600">
                <img
                  src="/images/Interface-Essential-Calendar-Appointment--Streamline-Pixel.svg"
                  class="w-5 h-5"
                />

                <div class="text-sm pl-1">
                  <time datetime={date.toISOString()}>
                    {date.toLocaleString("de", {
                      day: "numeric",
                      month: "short",
                      year: "numeric",
                    })}
                  </time>
                </div>
              </div>
            ) : null}
          </div>
        ) : null
      }
    </div>
  </div>
</div>

<style is:global define:vars={{ tagColor }}>
  article a {
    color: var(--purple);
    text-decoration: underline var(--purple);
    text-underline-offset: 3px;
  }
  article a:hover {
    text-decoration: underline dotted var(--purple) 3px;
  }
</style>

<script define:vars={{ date }} is:inline>
  const timestamp = new Date(date).getTime();
  const ele = document.getElementById(timestamp.toString());

  if (ele && timestamp < new Date(Date.now()).getTime()) {
    ele.classList.add("hidden");
  }
</script>

<!-- text-[color:var(--text-color)] -->
