---
pageable: true
per_page: 10
---
<div class="welcome" style="background-image: url('<%= asset_url 'images/muscles.png' %>')">
  <div class="text">
    <span class="highlight">HELLO</span>,
    I am <span class="highlight">web developer</span>,<br/><span class="highlight">mobile enthusiast</span> and I love to create <span class="highlight">awesomeness</span>.
  </div>
  <div class="text2">
    I got unused power for new projects left.<br/>
    <span class="entypo-megaphone"></span><a href="">Find out more.</a>
  </div>
</div>
<div class="page-content">
  <div class="content-category">
    <div class="name">Work<span class="description">This is about</span></div>
    <div class="nav"><a href="#" class="entypo-down-open"></a><a href="#" class=""></a></div>
    <div class="content">
      <div class="three-column">
        <div class="column"><b>The CSS used for this layout</b> is 100% valid and hack free. To overcome Internet Explorer's broken box model, no</div>
        <div class="column">The CSS used for this layout is 100% valid and hack free. To overcome Internet Explorer's broken box model, no</div>
        <div class="column">website as optimised as possible, your main page content must come before the side columns. This layout does exactly that: The center page comes first, then the left column and finally the</div>
      </div>
    </div>
  </div>
  <div class="content-category">
    <div class="content">
      <div class="reference">
        <div class="quote">
          <span class="entypo-quote"></span>The teamwork was highly professional and very inspiring
        </div>
        <div class="collegue">Marco Schymura (Mobile Web Lead Developer CELLULAR)</div>
        
      </div>
      <div class="reference">
        <div class="quote">
          <span class="entypo-quote"></span>I have worked with Kristin for about 3 years on several international projects. She showed extraordinary expertise in her field, great work attitude and she was always an invaluable member of our team: both social and technical.
        </div>
        <div class="collegue">Jakob Maul (Projectmanager CELLULAR)</div>
      </div>
      <div class="reference">
        <div class="quote">
          <span class="entypo-quote"></span>I experienced Kristin as a highly competent and motivated developer. She combines perfect knowlege of mobile web development with social competence. Our customers were always very satisfied, when Kristin was heading the implementation.
        </div>
        <div class="collegue">Thomas Wedl (MVNO Manager UPC Austria)</div>
      </div>
    </div>
  </div>
  <% page_articles.group_by {|article| article.metadata[:page]['category']}.each do |category, articles|%>
    <div class="content-category">
      <div class="name"><%= category.split(/,/)[0] %><span class="description"><%= category.split(/,/)[1] %></span></div>
      <div class="nav"><a href="#" class="entypo-down-open"></a><a href="#" class="entypo-up-open"></a></div>
      <div class="content">
        <% articles[0...5].each do |article, i| %>
          <div class="post">
            <div class="image" style="background-image: url('<%= asset_url 'images/' + article.metadata[:page]['image'] %>')"></div>
            <div class="text">
              <div class="title"><%= article.title %></div>
              <%= article.body %>
              <span class="date">Posted on <%= article.date.strftime('%d %B') %> | </span><span class="tags"><%= article.tags.join(" + ") %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="content-category">
    <div class="name">Life<span class="description">This is about</span></div>
    <div class="nav"><a href="#" class="entypo-down-open"></a><a href="#" class="entypo-up-open"></a></div>
    <div class="content">
      I am a passionate Frontend-Developer.
      <br/><br/>
      Skills
      <br/><br/>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 50%"></div></div>
        <div class="description">CSS/HTML</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 20%"></div></div>
        <div class="description">SSSY</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 80%"></div></div>
        <div class="description">Cool Stuff</div>
      </div>
    </div>
  </div>
  <div class="content-category">
    <div class="name">Contact<span class="description">Get in touch</span></div>
    <div class="nav"><a href="#" class="entypo-up-open"></a></div>
    <div class="content">
      <div class="contact" style="background-image: url('<%= asset_url 'images/kristinalbert.png' %>')">
        <span class="title">SAY HI!</span><br/><br/>
        <div class="text">
          If you like to work with me, leave me a note.
          <br/><br/>
          My current home is Vienna, AT. But it can be anywhere.
          <br/><br/>
        </div>
        <span class="entypo-mail"></span><a href="mailto:hello@kristin-albert.de">hello@kristin-albert.de</a>
      </div>
      <div class="socialmedia">
        <a href="https://twitter.com/twissi" class="entypo-twitter-circled"></a>
        <a href="https://github.com/Twissi" class="entypo-github-circled"></a>
        <a href="http://instagram.com/twissi" class="entypo-instagrem"></a>
        <a href="https://www.facebook.com/kristinalbertvienna" class="entypo-facebook-circled"></a>
        <a href="https://plus.google.com/115391789194288635717" class="entypo-gplus-circled"></a>
      </div>
    </div>
  </div>
</div>
