---
pageable: true
per_page: 10
---
<div class="page-content">
  <div class="content-category">
    <div class="name">Work<span class="description">This is about</span></div>
    <div class="nav"><a href="#" class="entypo-down-open"></a><a href="#" class=""></a></div>
    <div class="content">
      <div class="three-column">
        <div class="column"><b>The CSS used for this layout</b> is 100% valid and hack free. To overcome Internet Explorer's broken box model, no</div>
        <div class="column">The CSS used for this layout is 100% valid and hack free. To overcome Internet Explorer's broken box model, no</div>
        <div class="column">website as optimised as possible, your main page content must come before the side columns. This layout does exactly that: The center page comes first, then the left column and finally the</div>
      </div>
    </div>
  </div>
  <% page_articles.group_by {|article| article.metadata[:page]['category']}.each do |category, articles|%>
    <div class="content-category">
      <div class="name"><%= category %><span class="description">This is about</span></div>
      <div class="nav"><a href="#" class="entypo-down-open"></a><a href="#" class="entypo-up-open"></a></div>
      <div class="content">
        <% articles[0...5].each do |article, i| %>
          <div class="post">
            <div class="title"><%= article.title %></div>
            <div class="date">Posted on <%= article.date.strftime('%d %B') %></div>
            <!-- use article.summary(250) if you have Nokogiri available to show just
                 the first 250 characters -->
            <div class="text"><%= article.body %></div>
            <div class="tags">
              <%= article.tags.join(" + ") %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="content-category">
    <div class="name">Life<span class="description">This is about</span></div>
    <div class="nav"><a href="#" class="entypo-down-open"></a><a href="#" class="entypo-up-open"></a></div>
    <div class="content">
      I am a passionate Frontend-Developer.
      <br/><br/>
      Skills
      <br/><br/>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 50%"></div></div>
        <div class="description">CSS/HTML</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 20%"></div></div>
        <div class="description">SSSY</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 80%"></div></div>
        <div class="description">Cool Stuff</div>
      </div>
    </div>
  </div>
  <div class="content-category">
    <div class="name">Contact<span class="description">This is about</span></div>
    <div class="nav"><a href="#" class="entypo-up-open"></a></div>
    <div class="content">
      SAY HI!
      If you like to work with me. Leave me a note.
      <br/><br/>
      hello@kristin-albert.de
      <span class="entypo-twitter-circled"></span>
      <span class="entypo-github-circled"></span>
      <span class="entypo-facebook-circled"></span>
      <span class="entypo-gplus-circled"></span>
    </div>
  </div>
</div>
