<div class="welcome">
  <div class="text">
    <span class="highlight">HELLO</span>,
    I'm Kristin. I'm <span class="highlight">web developer</span>,<br/><span class="highlight">mobile enthusiast</span> and I love to create <span class="highlight">awesomeness</span>.
  </div>
  <div class="text2">
    I got unused power for new projects left.<br/>
    <span class="entypo-megaphone"></span><a href="">Find out more.</a>
  </div>
</div>
<div class="page-content">
  <div class="content-category">
    <div class="name">Who I am</div>
    <div class="content">
    </div>
  </div>
</div>
<div class="page-content">
  <div class="content-category">
    <div class="name">What I do</div>
    <div class="content">
      <div class="three-column">
        <div class="column">
          <b>The future is mobile</b> and the number of mobile and wearable devices increase. I am highly motived in making the <b>mobile user experience</b> better by developing interfaces that are fun to use and have great performance.
        </div>
        <div class="column">
          Developing for the mobile platform comes with great <b>challenges</b> and <b>opportunities</b>. As a front-end developer I can change the way users view and interact with mobile user interfaces.
        </div>
        <div class="column">
          The challenge of doing <b>front-end development</b> is to have strong <b>coding</b> skills and <b>design sensibility</b>. Combining this with bleeding edge technologies I have all the tools to create beautiful and useful products.
        </div>
      </div>
    </div>
  </div>

  <div class="content-category">
    <div class="name">Other say</div>
    <div class="content">
      <div class="reference">
        <div class="quote">
          <span class="entypo-quote"></span>The teamwork was highly professional and very inspiring.
        </div>
        <div class="collegue">Marco Schymura (Mobile Web Lead Developer CELLULAR)</div>

      </div>
      <div class="reference">
        <div class="quote">
          <span class="entypo-quote"></span>I have worked with Kristin for about 3 years on several international projects. She showed extraordinary expertise in her field, great work attitude and she was always an invaluable member of our team: both social and technical.
        </div>
        <div class="collegue">Jakob Maul (Projectmanager CELLULAR)</div>
      </div>
      <div class="reference">
        <div class="quote">
          <span class="entypo-quote"></span>I experienced Kristin as a highly competent and motivated developer. She combines perfect knowlege of mobile web development with social competence. Our customers were always very satisfied, when Kristin was heading the implementation.
        </div>
        <div class="collegue">Thomas Wedl (MVNO Manager UPC Austria)</div>
      </div>
    </div>
  </div>

  <div class="content-category">
    <div class="name">What matters</div>
    <div class="content">
      <div class="two-column">
        <div class="column">
          <div class="title"><span class="entypo-search"></span> What I am looking for</div><br/>
          <ul>
            <li>projects in the field of mobile</li>
            <li>motived, young team</li>
            <li>great team spirit</li>
            <li>product and goal-oriented team vision</li>
            <li>working with cutting edge technologies</li>
            <li>openess to change</li>
            <li>high develoment standards, passion of high quality</li>
            <li>high learning curve</li>
            <li>working closely with designers and backend developer</li>
            <li>flexible, remote working possible</li>
            <li>great work/life balance</li>
          </ul>
        </div>
        <div class="column">
          <div class="title"><span class="entypo-heart-empty"></span> What describes me</div><br/>
          <ul>
            <li>web and mobile technologies fascinate me</li>
            <li>I have the vision to make things work</li>
            <li>I create pixel perfect web and mobile interfaces</li>
            <li>at least three years experiences in building frontends</li>
            <li>building a sustainable and solid code-structure</li>
            <li>developing and testing for multiple platforms, browsers and devices</li>
            <li>I love to continually learn and improve</li>
            <li>I am open, communicative and enjoy working as part of a team</li>
            <li>Diploma in Computer Science</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    <div class="content-category">
    <div class="name">Work</div>
    <div class="content">
      <div class="center">
        <div class="title">2014 - today Freelancer</div>
        <ul></ul>
        <div class="title">2012 - 2014 CELLULAR</div>
        <ul>
          <li>developing mobile web solutions</li>
          <li></li>
        </ul>
        <div class="title">2009 - 2012 Fraunhofer ESK</div>
        <ul>
          <li>mobile and android development</li>
          <li></li>
        </ul>
        <div class="title">before 2009 Study</div>

        <button>Get full cv</button>
      </div>
    </div>
  </div>

  <div class="content-category">
    <div class="name">Skills</div>
    <div class="content">
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 95%"></div></div>
        <div class="description">Mobile Web</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 95%"></div></div>
        <div class="description">HTML5/CSS3</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 80%"></div></div>
        <div class="description">Rails/PHP</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 70%"></div></div>
        <div class="description">object-oriented JavaScript and jQuery</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 80%"></div></div>
        <div class="description">Task Automation, Preprocessing (grunt, sass)</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 50%"></div></div>
        <div class="description">JavaScript MVC frameworks</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 20%"></div></div>
        <div class="description">Test driven development</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 80%"></div></div>
        <div class="description">Tools (GIT, Photoshop)</div>
      </div>
    </div>
  </div>

  <% page_articles.group_by {|article| article.metadata[:page]['category']}.each do |category, articles|%>
    <div class="content-category">
      <div class="name"><%= category.split(/,/)[0] %><span class="description"><%= category.split(/,/)[1] %></span></div>
      <div class="content">
        <% articles[0...5].each do |article, i| %>
          <div class="post">
            <div class="image" style="background-image: url('<%= asset_url 'images/' + article.metadata[:page]['image'] %>')"></div>
            <div class="text">
              <div class="title"><%= article.title %></div>
              <%= article.body %>
              <span class="date">Posted on <%= article.date.strftime('%d %B') %> | </span><span class="tags"><%= article.tags.join(" + ") %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="content-category">
    <div class="name">Contact</div>
    <div class="content">
      <div class="contact" style="background-image: url('<%= asset_url 'images/kristinalbert.png' %>')">
        <span class="title">SAY HI!</span><br/><br/>
        <div class="text">
          If you like to work with me, leave me a note.
          <br/><br/>
          My current home is Vienna, AT. But it can be anywhere.
          <br/><br/>
        </div>
        <span class="entypo-mail"></span><a href="mailto:hello@kristin-albert.de">hello@kristin-albert.de</a>
      </div>
      <div class="socialmedia">
        <a href="https://twitter.com/twissi" class="entypo-twitter-circled"></a>
        <a href="https://github.com/Twissi" class="entypo-github-circled"></a>
        <a href="http://instagram.com/twissi" class="entypo-instagrem"></a>
        <a href="https://www.facebook.com/kristinalbertvienna" class="entypo-facebook-circled"></a>
        <a href="https://plus.google.com/115391789194288635717" class="entypo-gplus-circled"></a>
      </div>
    </div>
  </div>
</div>
