<div class="welcome">
  <div class="headline">
    <span class="highlight">HELLO</span>,
    I'm Krissi.<br/> I love my work as a <span class="highlight">web developer</span>.<br/>It is not just a coding job, it's rather creating<br/><span class="highlight">beautiful experiences</span> in the internet. <br/>
  </div>
  <div class="subline">
    <span class="entypo-megaphone"></span><a data-scroll data-options='{"speed": 900}' href="#nav-sideprojects" class="non-underline">Find out more about my current side projects.</a>
  </div>
</div>
<div class="page-content">
  <div id="nav-whoiam" class="content-category">
    <div class="nav">
      <a data-scroll href="#nav-whatmatters" class="entypo-down-open"></a>
    </div>
    <div class="content">
      <div class="two-column">
        <div class="column">
          I built my <b>first website</b> in 1999. It was stuffed with <b>tables, background-images</b> and <b>spacer.gifs</b>. I fell in love with coding. I created pages for friends or random people from the internet just for fun. After finishing school I began to study <a href="http://www.inf.tu-dresden.de" target="_blank"><b>Computer Science</b></a> in Dresden to learn more about computer technology. Everything I learned there was totally different from creating a static website.
        </div>
        <div class="column">
          For my <b>diploma thesis</b> I moved to Munich to work as a researcher at <b>Fraunhofer ESK</b> on a project called <a href="http://www.iuk.fraunhofer.de/de/presse-und-medien/pressemeldungen/einzelansicht/article/mit-der-elephant-plattform-einfach-mobile-anwendungen-entwickeln/" target="_blank">ELEPHANT</a>. The aim was to create a tool that helps people to generate context sensitive mobile apps. While writing my thesis I got <b>fascinated with the mobile field</b>. Because I wanted to learn from the experts in mobile development, I applied as a developer at <a href="http://www.cellular.de/" target="_blank"><b>CELLULAR</b></a>, an agency known for their mobile solutions.
        </div>
      </div>
      <br/>
      After 3 years working for CELLULAR on many <b>different projects</b> and building great <b>mobile websites</b> I wanted to try something new. I was looking for an opportunity to combine <b>working for clients</b> on new challenging projects and also having more time to spend on <b>side projects</b> and things that are important to me.
      I decided to work as a contractor for different companies and projects. I got involved in the startup and coworking scene in Vienna and helped organize <a href="http://railsgirls.com/vienna2014.html" target="_blank">Rails Girls Event</a>, <a href="https://www.facebook.com/events/653970051387843/" target="_blank">Vienna Burning Ball</a> and made a workshop at <a href="https://www.facebook.com/WomenTechmakersVienna/" target="_blank">Women Techmakers</a>.
      <br/></br>
      In fall 2015 I moved to Boston to work for <a href="https://circle.com"><b>Circle Internet Financial</b></a>. Together with my amazing, skilled and fun team we are building the product that changes the way people use money in the future. It is a big challenge and I am happy to be part of it! <a href="https://www.circle.com/invite/P81HZ4" target="_blank">Try Circle now</a>.
      <br/><br/>
      Currently I am <a href="https://weltreise .abwesend.com">traveling the world</a>.
    </div>
    <br/><br/>
    <div class="name">What I love</div>
    <div class="content">
      <div class="three-column">
        <div class="column">
          I <span class="entypo-heart"></span> beautiful things like art, furniture and digital designs. I also love food from all over the world; everything that stimulates our senses.
        </div>
        <div class="column">
          I <span class="entypo-heart"></span> my bike and I love traveling. I am more of a mountain than a sea person. Nature fascinates me and brings me peace.
        </div>
        <div class="column">
          I <span class="entypo-heart"></span> people who work hard for their dreams. I love strong women that inspire me and I care a lot about friendship.
        </div>
      </div>
    </div>
  </div>
</div>
<div id="nav-whatmatters" class="content-category">
  <div class="nav">
    <a data-scroll href="#nav-resume" class="entypo-down-open"></a>
    <a data-scroll href="#nav-whoiam" class="entypo-up-open"></a>
  </div>
  <div class="name">What matters</div>
  <div class="content">
    <div class="two-column">
      <div class="column">
        <div class="title"><span class="entypo-search"></span> What I am looking for</div>
        <ul>
          <li>A motived, young team</li>
          <li>Great team spirit</li>
          <li>Product and goal-oriented team vision</li>
          <li>Working with cutting edge technologies</li>
          <li>Openness to change</li>
          <li>High develoment standards, passion of high quality</li>
          <li>High learning curve</li>
          <li>Working closely with designers and backend developer</li>
          <li>Great work/life balance</li>
        </ul>
      </div>
      <div class="column">
        <div class="title"><span class="entypo-heart-empty"></span> What describes me</div>
        <ul>
          <li>Web and mobile technologies fascinate me</li>
          <li>I have the vision to make things work</li>
          <li>I create pixel perfect web and mobile interfaces</li>
          <li>4+ years experience in building frontends</li>
          <li>Building a sustainable and solid code-structure</li>
          <li>Developing and testing for multiple platforms, browsers and devices</li>
          <li>I love to continually learn and improve</li>
          <li>I am open, communicative and enjoy beeing part of a team</li>
          <li>A Degree in Computer Science</li>
        </ul>
      </div>
    </div>
  </div>
</div>

  <div id="nav-resume" class="content-category">
    <div class="nav">
      <a data-scroll href="#nav-tools" class="entypo-down-open"></a>
      <a data-scroll href="#nav-whatmatters" class="entypo-up-open"></a>
    </div>
    <div class="name">Resume</div>
    <div class="content">
      <div class="resume">
        <div class="date">2015 - today</div>
        <div class="description"><div class="title">Circle Internet Financial, Boston</div>
          I love to be part of the product web team. Circle is an amazing company that is going to change the way we use money.
        </div>

        <div class="date">2014 - 2015</div>
        <div class="description"><div class="title">Freelancer, Vienna</div>I enjoyed working as a freelancer and to have the opportunity to constantly develop new skills.</div>

        <div class="date">2011 - 2014</div>
        <div class="description"><div class="title">CELLULAR, Vienna</div>Working on Mobile Web projects in the field sports, telecommunication, shopping and lifestyle.</div>

        <div class="date">2009 - 2011</div>
        <div class="description"><div class="title">Fraunhofer ESK, Munich</div>Developing Android Apps and Web Applications research related.</div>

        <div class="date">earlier then 2009</div>
        <div class="description"><div class="title">TU Dresden, Dresden</div>Studying media computer science. Working on digital, print and web projects.</div>

        <br/><br/>
        <span class="entypo-mail"></span><a href="mailto:ich@kristin-fritsch.de?subject=Request Resume">Get full resume with project details</a>
      </div>
    </div>
  </div>

  <div id="nav-tools" class="content-category">
    <div class="nav">
      <a data-scroll href="#nav-sideprojects" class="entypo-down-open"></a>
      <a data-scroll href="#nav-resume" class="entypo-up-open"></a>
    </div>
    <div class="name">Skills</div>
    <div class="content center">
      In the <b>last 8 years</b> I worked on many different web projects with those great tools and technologies.
      <br/><br/>
      <span class="skill">JavaScript</span>
      <span class="skill">Node</span>
      <span class="skill">Ruby on Rails</span>
      <span class="skill">PHP + Zend</span>
      <span class="skill">Responsive Webdesign</span>
      <span class="skill">Grunt/Gulp</span>
      <span class="skill">jQuery</span>
      <span class="skill">Angular</span>
      <span class="skill">HTML5 + CSS</span>
      <span class="skill">Twitter Bootstrap</span>
      <span class="skill">Middleman/Jekyll</span>
      <span class="skill">REST APIs</span>
      <span class="skill">Git</span>
      <span class="skill">Jenkins</span>
      <span class="skill">Heroku</span>
      <span class="skill">Google Analytics</span>
      <span class="skill">Mixpanel</span>
      <span class="skill">Ghost Blog</span>
      <span class="skill">Photoshop</span>
      <span class="skill">Optimizly</span>
      <span class="skill">Mailchimp</span>
      <span class="skill">Litmus</span>
      <span class="skill">Pivotal</span>
      <span class="skill">Jira</span>
      <span class="skill">Trello</span>
      <span class="skill">Arduino</span>

      <!-- <div class="skill-bar">
        <div class="bar"><div class="progress full" style="width: 100%"></div></div>
        <div class="description">Web Standards</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 85%"></div></div>
        <div class="description">JavaScript (Node.js)</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 40%"></div></div>
        <div class="description">JS frameworks (Backbone)</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 80%"></div></div>
        <div class="description">Preprocessing (Grunt, Sass)</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 90%"></div></div>
        <div class="description">PHP / Zend</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 50%"></div></div>
        <div class="description">Ruby / Ruby on Rails</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress full" style="width: 100%"></div></div>
        <div class="description">Git</div>
      </div> -->
      <br/>
      <br/>
      <br/>
      <br/>
      <%= image_tag("HTML5.png", class: "center html5") %>
    </div>
  </div>

  <% blog.articles.group_by {|article| article.metadata[:page][:category]}.each do |category, articles|%>
    <% if category == "Side Projects" %>
      <div id="nav-sideprojects" class="content-category">
        <div class="nav">
          <a data-scroll href="#nav-contact" class="entypo-down-open"></a>
          <a data-scroll href="#nav-tools" class="entypo-up-open"></a>
        </div>
        <div class="name"><%= category.split(/,/)[0] %><span class="description"><%= category.split(/,/)[1] %></span></div>
        <div class="content">
          <% articles[0...5].each do |article, i| %>
            <div class="post">
              <div class="image" style="background-image: url('<%= asset_url 'images/' + article.metadata[:page][:image] %>')"></div>
              <div class="text">
                <div class="title"><%= article.title %></div>
                <%= article.body %>
                <span class="date">Posted on <%= article.date.strftime('%d %B %Y') %> | </span><span class="tags"><%= article.tags.join(" + ") %></span>
              </div>
            </div>
          <% end %>
        </div>
        <br/><a href="/projects.html">See all projects</a>
      </div>
    <% end %>
  <% end %>

  <div id="nav-contact" class="content-category notriangle">
    <a href="https://github.com/Twissi/me"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/c6625ac1f3ee0a12250227cf83ce904423abf351/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" class="ribbon"></a>
    <div class="nav">
      <a data-scroll href="#nav-sideprojects" class="entypo-up-open"></a>
    </div>
    <div class="name">Contact</div>
    <div class="content">
      <div class="contact" style="background-image: url('<%= asset_url 'images/kristinfritsch_circle.png' %>')">
        <span class="title">SAY HI!</span><br/><br/>
        <div class="text">
          If you would like to work with me, shoot me an email!
          <br/><br/>
          I am currently on a trip around the world with <a href="https://abwesend.com" target="_blank">Ben</a>, but we are planning to be back in Germany in March 2018.
          <br/><br/>
        </div>
        <span class="entypo-mail"></span><a href="mailto:dev@kristin-fritsch.de?subject=Say hello">dev@kristin-fritsch.de</a>
      </div>
      <div class="socialmedia">
        <a href="https://twitter.com/twissi" class="entypo-twitter-circled" target="_blank"></a>
        <a href="https://github.com/Twissi" class="entypo-github-circled" target="_blank"></a>
        <a href="http://instagram.com/twissi" class="entypo-instagrem" target="_blank"></a>
        <a href="https://www.facebook.com/kristinfritschgermany" class="entypo-facebook-circled" target="_blank"></a>
        <a href="https://plus.google.com/115391789194288635717" class="entypo-gplus-circled" target="_blank"></a>
        <a href="http://at.linkedin.com/in/kristinfritsch/en" class="entypo-linkedin-circled" target="_blank"></a>
      </div>
    </div>
  </div>
</div>
<div class="center">
  This page was created with <a href="http://middlemanapp.com/" target="_blank">Middleman</a>, shipped with <a href="https://travis-ci.org" target="_blank">Travis CI</a> and hosted at <a href="https://pages.github.com/" target="_blank">Github Pages.</a>
</div>
<br/>
