<div class="welcome">
  <div class="headline">
    <span class="highlight">HELLO</span>,
    I'm Kristin. I'm <span class="highlight">web developer</span>,<br/><span class="highlight">mobile enthusiast</span> and I love to create <span class="highlight">awesomeness</span>.
  </div>
  <div class="subline">
    I got unused power for new projects left.<br/>
    <span class="entypo-megaphone"></span><a data-scroll data-options='{"speed": 900}' href="#nav-resources">Find out more.</a>
  </div>
</div>
<div class="page-content">
  <div id="nav-whoiam" class="content-category">
    <div class="nav">
      <a data-scroll href="#nav-whatmatters" class="entypo-down-open"></a>
    </div>
    <div class="content">
      <div class="two-column">
        <div class="column">
          I built my <b>first website</b> in 1999. It was stuffed with <b>tables and background-images</b>, but I loved it. I created pages for friends or random people from the internet just for fun. After finishing school I began to study <a href="http://www.inf.tu-dresden.de" target="_blank"><b>Computer Science</b></a> in Dresden. Everything I learned there was totally different than creating a static website. 
        </div>
        <div class="column">
          For my <b>diploma thesis</b> I moved to Munich to work with researcher from <b>Fraunhofer ESK</b> on <a href="http://www.iuk.fraunhofer.de/de/presse-und-medien/pressemeldungen/einzelansicht/article/mit-der-elephant-plattform-einfach-mobile-anwendungen-entwickeln/" target="_blank">ELEPHANT</a>, a tool to generate mobile apps. I got <b>fascinated in the mobile field</b> and wanted to learn from the experts. So I started to work for <a href="http://www.cellular.de/" target="_blank"><b>CELLULAR</b></a>, an agency known for their mobile solutions. After 3 years of building great <b>mobile websites</b> it is now time for new challenges.
        </div>
      </div>
    </div>
    <br/><br/>
    <div class="name">What I love</div>
    <div class="content">
      <div class="three-column">
        <div class="column">
          I <span class="entypo-heart"></span> beautiful things. Art, furniture, digital designs. I also love food from all over the world. Things that stimulate our senses.
        </div>
        <div class="column">
          I <span class="entypo-heart"></span> my bike and I love traveling. I am more a mountain then a sea person. Nature fascinates me and it makes me breath. 
        </div>
        <div class="column">
          I <span class="entypo-heart"></span> people who work hard for their visions. I love women that inspire me and I care a lot about friendship.
        </div>
      </div>
    </div>
  </div>
</div>
<div id="nav-whatmatters" class="content-category">
  <div class="nav">
    <a data-scroll href="#nav-whatothersay" class="entypo-down-open"></a>
    <a data-scroll href="#nav-whoiam" class="entypo-up-open"></a>
  </div>
  <div class="name">What matters</div>
  <div class="content">
    <div class="two-column">
      <div class="column">
        <div class="title"><span class="entypo-search"></span> What I am looking for</div>
        <ul>
          <li>projects in the field of mobile</li>
          <li>motived, young team</li>
          <li>great team spirit</li>
          <li>product and goal-oriented team vision</li>
          <li>working with cutting edge technologies</li>
          <li>openess to change</li>
          <li>high develoment standards, passion of high quality</li>
          <li>high learning curve</li>
          <li>working closely with designers and backend developer</li>
          <li>flexible, remote working possible</li>
          <li>great work/life balance</li>
        </ul>
      </div>
      <div class="column">
        <div class="title"><span class="entypo-heart-empty"></span> What describes me</div>
        <ul>
          <li>web and mobile technologies fascinate me</li>
          <li>I have the vision to make things work</li>
          <li>I create pixel perfect web and mobile interfaces</li>
          <li>at least three years experiences in building frontends</li>
          <li>building a sustainable and solid code-structure</li>
          <li>developing and testing for multiple platforms, browsers and devices</li>
          <li>I love to continually learn and improve</li>
          <li>I am open, communicative and enjoy working as part of a team</li>
          <li>Diploma in Computer Science</li>
        </ul>
      </div>
    </div>
  </div>
</div>

  <div id="nav-whatothersay" class="content-category">
    <div class="nav">
      <a data-scroll href="#nav-resume" class="entypo-down-open"></a>
      <a data-scroll href="#nav-whatmatters" class="entypo-up-open"></a>
    </div>
    <div class="name">What other say</div>
    <div class="content">
      <div class="reference">
        <div class="quote">
          <span class="entypo-quote"></span>The teamwork was highly professional and very inspiring.
        </div>
        <div class="collegue">Marco Schymura (Mobile Web Lead Developer CELLULAR)</div>
      </div>
      <div class="reference">
        <div class="quote">
          <span class="entypo-quote"></span>I have worked with Kristin for about 3 years on several international projects. She showed extraordinary expertise in her field, great work attitude and she was always an invaluable member of our team: both social and technical.
        </div>
        <div class="collegue">Jakob Maul (Projectmanager CELLULAR)</div>
      </div>
      <div class="reference">
        <div class="quote">
          <span class="entypo-quote"></span>I experienced Kristin as a highly competent and motivated developer. She combines perfect knowlege of mobile web development with social competence. Our customers were always very satisfied, when Kristin was heading the implementation.
        </div>
        <div class="collegue">Thomas Wedl (former Country Manager CEE CELLULAR)</div>
      </div>
      <div class="reference">
        <div class="quote">
          <span class="entypo-quote"></span>During our time together in Fraunhofer, I get to know Kristin as a very eager-to-research colleague who always wanted to find out. She was always trying out new designs and functions in here mobile apps and always came to us with her new ideas and suggestions. She is a great colleague: innovative, reliable and friendly at the same time.
        </div>
        <div class="collegue">Neda Petreska (Fraunhofer ESK)</div>
      </div>
    </div>
  </div>

  <div id="nav-resume" class="content-category">
    <div class="nav">
      <a data-scroll href="#nav-tools" class="entypo-down-open"></a>
      <a data-scroll href="#nav-whatothersay" class="entypo-up-open"></a>
    </div>
    <div class="name">Resume</div>
    <div class="content">
      <div class="resume">
        <div class="date">2014 - today</div>
        <div class="description"><div class="title">Freelancer, Vienna</div></div>

        <div class="date">2011 - 2014</div>
        <div class="description"><div class="title">CELLULAR, Vienna</div>Working on Mobile Web projects in the field sports, telecommunication, shopping and lifestyle.</div>

        <div class="date">2009 - 2011</div>
        <div class="description"><div class="title">Fraunhofer ESK, Munich</div>Developing Android Apps and Web Applications research related.</div>

        <div class="date">earlier then 2009</div>
        <div class="description"><div class="title">TU Dresden, Dresden</div>Studying media computer science. Working on digital, print and web projects.</div>

        <br/><br/>
        <span class="entypo-mail"></span><a href="mailto:ich@kristin-albert.de?subject=Request Resume">Get full resume with project details</a>
      </div>
    </div>
  </div>

  <div id="nav-tools" class="content-category">
    <div class="nav">
      <a data-scroll href="#nav-resources" class="entypo-down-open"></a>
      <a data-scroll href="#nav-resume" class="entypo-up-open"></a>
    </div>
    <div class="name">Tools</div>
    <div class="content">
      In the <b>last 3 years</b> I worked on over 10 mobile projects using these technologies. 
      <br/><br/>
      <div class="skill-bar">
        <div class="bar"><div class="progress full" style="width: 100%"></div></div>
        <div class="description">Web Standards</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 85%"></div></div>
        <div class="description">JavaScript</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 80%"></div></div>
        <div class="description">Preprocessing (Grunt, Sass)</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 90%"></div></div>
        <div class="description">PHP / Zend</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 20%"></div></div>
        <div class="description">Ruby / Ruby on Rails</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress" style="width: 50%"></div></div>
        <div class="description">JavaScript MVC frameworks</div>
      </div>
      <div class="skill-bar">
        <div class="bar"><div class="progress full" style="width: 100%"></div></div>
        <div class="description">Git</div>
      </div>
      <br/>
      <%= image_tag("HTML5.png", class: "center html5") %>
    </div>
  </div>

  <div id="nav-resources" class="content-category">
    <div class="nav">
      <a data-scroll href="#nav-sideprojects" class="entypo-down-open"></a>
      <a data-scroll href="#nav-tools" class="entypo-up-open"></a>
    </div>
    <div class="name">Time Resources</div>
    <div class="content">
      Currently I got free resources to work with you on your project.<br/>
      Get in <a data-scroll href="#nav-contact">contact</a>.
      <br/><br/>
      <div class="resource-bar">
        <div class="timespan" style="width: 25%"><span class="text">Learning Swift</span></div>
        <div class="timespan" style="width: 20%"><span class="text">Angular project</span></div>
        <div class="timespan" style="width: 15%"><span class="text">Rails Girls Orga</span></div>
      </div>
      <br/>
    </div>
  </div>

  <% page_articles.group_by {|article| article.metadata[:page]['category']}.each do |category, articles|%>
    <div id="nav-sideprojects" class="content-category">
      <div class="nav">
        <a data-scroll href="#nav-contact" class="entypo-down-open"></a>
        <a data-scroll href="#nav-resources" class="entypo-up-open"></a>
      </div>
      <div class="name"><%= category.split(/,/)[0] %><span class="description"><%= category.split(/,/)[1] %></span></div>
      <div class="content">
        <% articles[0...5].each do |article, i| %>
          <div class="post">
            <div class="image" style="background-image: url('<%= asset_url 'images/' + article.metadata[:page]['image'] %>')"></div>
            <div class="text">
              <div class="title"><%= article.title %></div>
              <%= article.body %>
              <span class="date">Posted on <%= article.date.strftime('%d %B') %> | </span><span class="tags"><%= article.tags.join(" + ") %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div id="nav-contact" class="content-category">
    <div class="nav">
      <a data-scroll href="#nav-sideprojects" class="entypo-up-open"></a>
    </div>
    <div class="name">Contact</div>
    <div class="content">
      <div class="contact" style="background-image: url('<%= asset_url 'images/kristinalbert_circle.png' %>')">
        <span class="title">SAY HI!</span><br/><br/>
        <div class="text">
          If you like to work with me, leave me a note.
          <br/><br/>
          My current home is Vienna, AT. But it can be anywhere.
          <br/><br/>
        </div>
        <span class="entypo-mail"></span><a href="mailto:ich@kristin-albert.de?subject=Say hello">ich@kristin-albert.de</a>
      </div>
      <div class="socialmedia">
        <a href="https://twitter.com/twissi" class="entypo-twitter-circled"></a>
        <a href="https://github.com/Twissi" class="entypo-github-circled"></a>
        <a href="http://instagram.com/twissi" class="entypo-instagrem"></a>
        <a href="https://www.facebook.com/kristinalbertvienna" class="entypo-facebook-circled"></a>
        <a href="https://plus.google.com/115391789194288635717" class="entypo-gplus-circled"></a>
      </div>
    </div>
  </div>
</div>
