---
pageable: true
per_page: 10
---
<div class="page-content">
  <div class="content-category">
    <div class="name">Work<span class="description">This is about</span></div>
    <div class="content">
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
    </div>
  </div>
  <div class="content-category">
    <div class="name">Projects<span class="description">This is about</span></div>
    <div class="content">
      <% if paginate && num_pages > 1 %>
        <p>Page <%= page_number %> of <%= num_pages %></p>

        <% if prev_page %>
          <p><%= link_to 'Previous page', prev_page %></p>
        <% end %>
      <% end %>

      <% page_articles.each_with_index do |article, i| %>
        <div class="post">
          <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2>
          <!-- use article.summary(250) if you have Nokogiri available to show just
               the first 250 characters -->
          <%= article.body %>
        </div>
      <% end %>

      <% if paginate %>
        <% if next_page %>
          <p><%= link_to 'Next page', next_page %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="content-category">
    <div class="name">Life<span class="description">This is about</span></div>
    <div class="content">
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
    </div>
  </div>
    <div class="content-category">
    <div class="name">Contact<span class="description">This is about</span></div>
    <div class="content">
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
    </div>
  </div>
</div>
